@import '/src/style/vars.scss';

.tariff-option{
    &.tariff-1 {
        .tariff-name {
            background-color: $tariff-1-color-name;
        }
        .tariff-price {
            background-color: $tariff-1-color-price;
        }
    }
    &.tariff-2 {
        .tariff-name {
            background-color: $tariff-2-color-name;
        }
        .tariff-price {
            background-color: $tariff-2-color-price;
        }
    }
    &.tariff-3 {
        .tariff-name {
            background-color: $tariff-3-color-name;
        }
        .tariff-price {
            background-color: $tariff-3-color-price;
        }
    }
    &.tariff-4 {
        .tariff-name {
            background-color: $tariff-4-color-name;
        }
        .tariff-price {
            background-color: $tariff-4-color-price;
        }
    }
}